In [39]:
import json
import requests

# Load secrets from credentials.json
url = 'https://api.foursquare.com/v2/venues/explore'
with open('.secrets/credentials.json') as f:
    params = json.load(f)
    
params['v'] = '20180323'          #version
params['ll'] = '47.608,-122.336', #lat & long
params['query'] = 'pilates',
params['limit'] = 100               #how many to give back

response = requests.get(url=url, params=params)
data = json.loads(response.text)

In [40]:
data.keys()

dict_keys(['meta', 'response'])

In [41]:
data['response'].keys()

dict_keys(['suggestedFilters', 'suggestedRadius', 'headerLocation', 'headerFullLocation', 'headerLocationGranularity', 'query', 'totalResults', 'suggestedBounds', 'groups'])

In [42]:
len(data['response']['groups'][0]['items'])

12

In [43]:
results = data['response']['groups'][0]['items']

In [44]:
venues = []
venue_names = []
for result in results:
    venues.append(result['venue'])
    venue_names.append(result['venue']['name'])

In [45]:
venue_names

['Washington Athletic Club',
 'ZUM fitness',
 'Seattle Athletic Club',
 'Kinesia Pilates Studio',
 'Element Pilates',
 'Go Total Body Fitness',
 'Pilates Seattle International',
 'Atlas Pilates',
 'Pilates ProWorks',
 'Club Pilates',
 'Bria Pilates & Wellness',
 'Conscious Body Pilates']

In [47]:
import pandas as pd
pd.DataFrame(venues).head()

,beenHere,categories,contact,hereNow,id,location,name,photos,stats,venuePage,verified
0,"{'count': 0, 'lastCheckinExpiredAt': 0, 'marke...","[{'id': '4bf58dd8d48988d176941735', 'name': 'G...",{},"{'count': 0, 'summary': 'Nobody here', 'groups...",4597de79f964a5207b401fe3,"{'address': '1325 6th Ave', 'crossStreet': 'at...",Washington Athletic Club,"{'count': 0, 'groups': []}","{'tipCount': 0, 'usersCount': 0, 'checkinsCoun...",NaN,False
1,"{'count': 0, 'lastCheckinExpiredAt': 0, 'marke...","[{'id': '4bf58dd8d48988d176941735', 'name': 'G...",{},"{'count': 0, 'summary': 'Nobody here', 'groups...",4a427125f964a520dea51fe3,"{'address': '1813 7th Ave', 'lat': 47.61400529...",ZUM fitness,"{'count': 0, 'groups': []}","{'tipCount': 0, 'usersCount': 0, 'checkinsCoun...",{'id': '63557214'},True
2,"{'count': 0, 'lastCheckinExpiredAt': 0, 'marke...","[{'id': '4bf58dd8d48988d176941735', 'name': 'G...",{},"{'count': 1, 'summary': 'One other person is h...",4a8c22ecf964a520090d20e3,"{'address': '2020 Western Ave', 'lat': 47.6106...",Seattle Athletic Club,"{'count': 0, 'groups': []}","{'tipCount': 0, 'usersCount': 0, 'checkinsCoun...",NaN,True
3,"{'count': 0, 'lastCheckinExpiredAt': 0, 'marke...","[{'id': '5744ccdfe4b0c0459246b4b2', 'name': 'P...",{},"{'count': 0, 'summary': 'Nobody here', 'groups...",4e31dc941f6e313d8b66fa25,"{'address': '314 1st Ave S', 'lat': 47.5995221...",Kinesia Pilates Studio,"{'count': 0, 'groups': []}","{'tipCount': 0, 'usersCount': 0, 'checkinsCoun...",{'id': '48823099'},True
4,"{'count': 0, 'lastCheckinExpiredAt': 0, 'marke...","[{'id': '5744ccdfe4b0c0459246b4b2', 'name': 'P...",{},"{'count': 0, 'summary': 'Nobody here', 'groups...",4b6aff32f964a52076eb2be3,"{'address': '500 E Pike St', 'lat': 47.6134092...",Element Pilates,"{'count': 0, 'groups': []}","{'tipCount': 0, 'usersCount': 0, 'checkinsCoun...",NaN,False