In [94]:
import json
import requests

# Load secrets from credentials.json
url = 'https://api.foursquare.com/v2/venues/explore'
with open('.secrets/credentials.json') as f:
    params = json.load(f)
    
params['v'] = '20180323'          #version
params['ll'] = '47.608,-122.336', #lat & long
#params['radius'] = 10000
params['query'] = 'boba',
params['limit'] = 100               #how many to give back

response = requests.get(url=url, params=params)
data = json.loads(response.text)

In [95]:
data.keys()

dict_keys(['meta', 'response'])

In [96]:
data['response'].keys()

dict_keys(['suggestedFilters', 'suggestedRadius', 'headerLocation', 'headerFullLocation', 'headerLocationGranularity', 'query', 'totalResults', 'suggestedBounds', 'groups'])

In [97]:
len(data['response']['groups'][0]['items'])

13

In [98]:
results = data['response']['groups'][0]['items']
results[0]

{'reasons': {'count': 0,
  'items': [{'summary': 'This spot is popular',
    'type': 'general',
    'reasonName': 'globalInteractionReason'}]},
 'venue': {'id': '4a8f1db7f964a520051420e3',
  'name': 'Oasis Tea Zone',
  'contact': {},
  'location': {'address': '519 6th Ave S',
   'crossStreet': 'At S Weller St',
   'lat': 47.59763996958864,
   'lng': -122.32651556000312,
   'labeledLatLngs': [{'label': 'display',
     'lat': 47.59763996958864,
     'lng': -122.32651556000312}],
   'distance': 1355,
   'postalCode': '98104',
   'cc': 'US',
   'city': 'Seattle',
   'state': 'WA',
   'country': 'United States',
   'formattedAddress': ['519 6th Ave S (At S Weller St)',
    'Seattle, WA 98104',
    'United States']},
  'categories': [{'id': '52e81612bcbc57f1066b7a0c',
    'name': 'Bubble Tea Shop',
    'pluralName': 'Bubble Tea Shops',
    'shortName': 'Bubble Tea',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/bubble_',
     'suffix': '.png'},
    'primary': True}],
  'verified': True,
  'stats': {'tipCount': 0,
   'usersCount': 0,
   'checkinsCount': 0,
   'visitsCount': 0},
  'beenHere': {'count': 0,
   'lastCheckinExpiredAt': 0,
   'marked': False,
   'unconfirmedCount': 0},
  'photos': {'count': 0, 'groups': []},
  'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
 'flags': {'outsideRadius': True},
 'referralId': 'e-0-4a8f1db7f964a520051420e3-0'}

In [104]:
venues = []
venue_names = []
for result in results:
    venues.append(result['venue'])
    venue_names.append(result['venue']['name'])

In [100]:
venue_names

['Oasis Tea Zone',
 'Young Tea',
 'Seattle Best Tea',
 'Pho Saigon Asian Cuisine',
 'Blank Space Cafe',
 'Ambrosia Cafe',
 'Oasis Tea Zone',
 'Pacific Cafe Hong Kong Kitchen',
 'Boiling Point 沸點',
 'Stateside',
 'Yummy House Bakery',
 'Little Sheep Mongolian Hot Pot, Seattle',
 'Blackball']

In [79]:
import pandas as pd
pd.DataFrame(results).head()

,flags,reasons,referralId,venue
0,NaN,"{'count': 0, 'items': [{'summary': 'This spot ...",e-0-42f54f00f964a520cb261fe3-0,"{'id': '42f54f00f964a520cb261fe3', 'name': 'Wi..."
1,NaN,"{'count': 0, 'items': [{'summary': 'This spot ...",e-0-56ca5a05cd10c7b2ee77b104-1,"{'id': '56ca5a05cd10c7b2ee77b104', 'name': 'No..."
2,NaN,"{'count': 0, 'items': [{'summary': 'This spot ...",e-0-4aa18d6cf964a520f74020e3-2,"{'id': '4aa18d6cf964a520f74020e3', 'name': 'Fe..."
3,NaN,"{'count': 0, 'items': [{'summary': 'This spot ...",e-0-4b1d7670f964a520e11024e3-3,"{'id': '4b1d7670f964a520e11024e3', 'name': 'Ha..."
4,NaN,"{'count': 0, 'items': [{'summary': 'This spot ...",e-0-40b3de00f964a52031001fe3-4,"{'id': '40b3de00f964a52031001fe3', 'name': 'Ma..."